/* packages/styles/src/index.css */

/* tokens CSS (variables que uses) */
:root{
  --brand: #2563eb; /* ejemplo */
  --muted: #6b7280;
  --card-bg: #ffffff;
  --card-border: #e5e7eb;
}

/* Usa layers para que Tailwind pueda fusionarlo con @tailwind components */
@layer base {
  html { 
    -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;}
  body {
    font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
    background: rgb(250, 250, 250);
  }
}

/* scrollbars suaves (opcionales) */
.table-scroll::-webkit-scrollbar { height: 10px; width: 10px; }
.table-scroll::-webkit-scrollbar-thumb { background: #d1d5db; border-radius: 8px; }
.table-scroll::-webkit-scrollbar-track { background: transparent; }

@layer components {
  .btn-primary {
    @apply inline-flex items-center  px-4 py-2 rounded-md bg-white text-slate-700 text-sm font-medium shadow-sm border border-green-300;
  }
  .card {
    background: var(--card-bg);
    border: 1px solid var(--card-border);
    border-radius: .5rem;
    padding: 1rem;
  }
  .datatable td, .datatable th {
    padding: .5rem 1rem; 
  }
}
